.list{
    margin-top: 10px;
}

.main-container{
    height: 100vh;
    position: relative;
}

.main-container div {
    height: 100px;
    width: 200px;
    border : 2px solid green;
}

.div-one{
    position: absolute;
    top: 10px;
    left: 0px;
}

.div-two {
    position: absolute;
    top: 10;
    right: 0;
}

.div-three {
    position: absolute;
    bottom: 100px;
    left: 0;
}

.div-four {
    position: absolute;
    bottom: 100px;
    right: 0px;
}